/* ABOUT CSSSSSS */

.about {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    
    /* Background styles */
    background-image: url(https://images.pexels.com/photos/158251/forest-the-sun-morning-tucholskie-158251.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* space after image */
    margin-bottom: 20px;
}

.aboutInner, .aboutTitle, .aboutTag {
    background: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    letter-spacing: 6px;
    margin: 30px 10px;
    text-shadow: 2px 2px 3px #0B1C48;
}
