.dash_hero {
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 100vw;
    height: 75vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1559825481-12a05cc00344?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h3 {
    margin: 0px;
    background: none;
    color: white;
    display: flexbox;
    text-shadow: 2px 2px 3px #0B1C48;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}

h4 {
    font-family: tahoma;
    font-size: 32px;
    color: #0B1C48;
    text-shadow: 1px 1px 3px gray;

}

img {
    height: auto;
    width: 100%;
}

p {
    padding-bottom: 25px;
}

/* INDIVIDUAL LOG LAYOUT */
.addLogButton {
    border-radius: 15px;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-right: 1px solid #ccc; 
    margin: 50px;
    background-color: peru;
}

.button {
    font-size: 14px;
    
    
}

