/* NAV LAYOUT */

.navbar {
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #ccc; 
    border-top: 1px solid #ccc; 
}

.navlinks {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    color: peru;
    border-right: 1px solid #ccc; 
}

ul {
    padding: 0;
}
